name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, lts/*, latest]

    steps:
      - uses: actions/checkout@v5.0.1

      - name: Setup Node.js environment | Node ${{ matrix.node }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm ci
      - run: npm run test

      - name: Build docker image
        run: docker build -t devops-nest-api:latest .
