name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, lts/*, latest]

    steps:
      - uses: actions/checkout@v5.0.1

      - name: Setup Node.js environment | Node ${{ matrix.node }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm ci
      - run: npm run test

      - name: Generate tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Login into the container registry
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-nest-api:${{ steps.generate_tag.outputs.sha }} .

      - name: Push image to container registry
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-nest-api:${{ steps.generate_tag.outputs.sha }}
